* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary: rgba(255, 185, 0, 1);
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.header {
  background-color: #fffcf4;
}
.header {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .content {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.home a {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.home a:hover {
  color: black;
  text-shadow: 1px 0 0 currentColor;
}
nav ul {
  display: flex;
}
nav {
  margin-left: auto;
}
.button {
  min-width: 118px;
  padding: 11px 16px;
  border-radius: 24px;
  text-decoration: none;
  color: white;
  background-color: black;
}
.header .button__signup {
  min-width: 144px;
  margin-left: 48px;
}
main {
  background-color: #fffcf4;
  text-align: center;
}
main .hero {
  display: inline-block;
  text-align: left;
  background-color: #fffcf4;
  width: 1170px;
  padding: 56px;
  max-width: calc(100% - 48px);
}
.hero .body {
  display: flex;
}
.hero .imgleft {
  width: 48%;
  padding-right: 56px;
  position: relative;
}
.hero .contenright {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .imgleft .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero .hero-sumary {
  padding: 24px;
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0;
  background-color: white;
  border-radius: 12px;
}
.hero-sumary .item {
  display: flex;
}
.hero-sumary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 249, 232, 1);
}
.hero-sumary .icon2 {
  background: rgba(252, 239, 255, 1);
}
.hero-sumary .icon3 {
  background: rgba(235, 234, 255, 1);
}
.hero-sumary .info {
  margin-left: 16px;
}
.hero-sumary .label {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86rem;
  column: #5f5b53;
}
.hero-sumary .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 30px;
  letter-spacing: 0%;
}
.hero .heading {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -1.16px;
  width: 500px;
}
.hero .desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67rem;
  letter-spacing: 0%;
  margin-top: 22px;
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero-cta {
  background-color: var(--primary);
}
.hero .watch-video {
  margin-left: 28px;
  border: none;
  background: transparent;
  display: flex;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .watch-video span {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
}
.hero .desc--recent {
  margin-top: 48px;
}
.hero .stats strong {
  margin-right: 15px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 54px;
  letter-spacing: 0%;
}
.hero .stats strong:nth-child(2) {
  margin-left: 8px;
}
